
<p>
    <strong>Lot:</strong>
    <%= @bojangle.name %>
</p>

<p>
    <strong>License:</strong>
    <%= @bojangle.address %>
</p>

<p>
    <strong>Make:</strong>
    <%= @bojangle.spots %>
</p>

<%= link_to 'Parking List', bojangles_path %><br />
