
<p>
    <strong>ParkingLot:</strong>
    <%= @bojangle.name %>
</p>

<p>
    <strong>Address:</strong>
    <%= @bojangle.address %>
</p>

<p>
    <strong>Available Spots:</strong>
    <%= @bojangle.spots %>
</p>

<%= link_to 'Parking List', bojangles_path %><br />
