<p>
    <strong>Parking Lot:</strong>
    <%= @lot.name %>
</p>

<p>
    <strong>Address:</strong>
    <%= @lot.address %>
</p>

<p>
    <strong>Available Spots:</strong>
    <%= @lot.spots %>
</p>

<%= link_to 'Parking List', lots_path %><br />
